/*CSS RESET*/
*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
/* CSS variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display:flex;
    align-items: center;
    top:0px;
    position: sticky;
}
/*Navigation bar :  Logo and image 
 #logo{
  margin:10px 34px;
 }
 #logo img{
    height:59px;
  margin:3px 6px;
 }*/
/*Navigation Bar :  List Styling */
#navbar ul{
    display: flex;
    font-family: 'Acme';
}
#navbar::before{
    content: "";
    background-color: black;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index: -1;
    opacity:0.2;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color:black;
    display: block;
    padding:3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    touch-action: auto;
    color:goldenrod;
}
#navbar ul li a{
    color:greenyellow;
    background-color: black;
}
/* Home section */
#home{
    display:flex;
    flex-direction: column;
    padding:3px 200px;
    height:460px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url("bg.jpg");
    position:absolute;
    top:0px;
    left:0px;
    height:70%;
    width:100%;
    z-index: -1;
    opacity:0.9;    
}
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;/*relative to root element --> rem*/
    font-family: "Acme";
}
/* services section */
#services{
    margin : 34px;
    display : flex;
}
#services .box{
    border:2px solid brown;
    padding:34px;
    margin: 25px 6px;
    border-radius: 23px;
    background-color: rgb(234, 226, 226);
}
#services .box img {
    height:156px;
    margin:auto;
    display:block;
}
#services .box p{
    font-family: "Acme";
}
/* Clients Section */
#client-section{
    position:relative;
 height:344px;
}
#client-section ::before{
    content:"";
    position:absolute;
    background: url("bg.jpg");
    width:20%;
    height:50%;
    z-index: -1;
    opacity: 0.3;
   }
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height:150px;
}
.client-item{
    padding:34px;
}
footer{
 background: black;
 color:white;
 padding:9px 20px;    
}
/*Contact SEction*/
#contact{
  position:relative;
}
#contact ::before{
 content: "";
 position:absolute;
 height:50%;
 width:50%;
 z-index:-1;
 opacity: 0.7;
 background: url("contact..jpg") no-repeat center center/cover;
}
#contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, #contact-box textarea{
    width:100%;
    padding:0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
 width:40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: "Acme";
   }
/* Utility classes */

.h-primary{
    font-size: 3.8rem;
    justify-content: center;
    text-align: center;
    padding:12px;
    font-family: "Acme";
}
.h-secondary{
    justify-content: center;
    text-align: center;
    font-size: 2.8rem;;
    padding:6px;
    font-family: "Acme";
}
.btn{
  padding:6px 28px;
  border:2px solid white;
  background-color:brown ;
  color:white;
  margin:17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor:pointer;
}
.center{
    text-align: center;
}